.container {
    position: relative;
    width: 100%;
}

.inputContainer {
    width: 100%;
}

.combobox {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 4px;
    background: white;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    transition: opacity 0.15s ease;
    max-height: 500px;

    &:not(.controlled){
        opacity: 0.7;
    }

    &.hidden {
        display: none;
    }
}

.header {
    flex-shrink: 0;
    width: 100%;
}

.itemsList {
    flex: 1;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: height 0.3s ease;

    /* Стилизация скроллбара */
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 4px;

        &:hover {
            background: #555;
        }
    }
}

.footer {
    flex-shrink: 0;
    width: 100%;
}